li {
    list-style: none;
    padding: 20px;
}

h1 {
    color: brown;
    text-align: center;
    padding: 20px;
}
.karibu h1{
    text-align: center;
    color: white;
}
.karibu h2{
    color: white;
    
}
