{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf%}
{% block styles %}
    {{super()}}
    <link rel = "stylesheet" href = "{{url_for('static',filename='css/styles.css')}}">

    <link rel = "stylesheet" href = "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity = "sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin = "anonymous">
    <script src = "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity = "sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin = "anonymous" > </script>

{{simplemde.css}}
{{simplemde.js}}
{% endblock %}
# <!-- Content block - ->

# <meta charset = "utf-8">
#     {% if title %}
#     <title > {{title}} < /title>
#     {% else %}
#     <title>Pitch</title>
#     {% endif %}
{% block content %}

<div class = "container">
    <h1 class = "text-center" > Welcome </h1>
    <h2 class = "text-center" > One Minute Pitch </h2>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10"><br><br>
            {% if current_user.is_authenticated %}
            <h3 style="text-align: center;">Write a new Pitch</h3>
            {{wtf.quick_form(pitch_form)}}
            {% else %}
            <h4 styles="text-align:center;">PLEASE SIGN UP AN ACCOUNT TO ALSO POST A PITCH</h4>
            {% endif %}
        </div>
        <div class="col-md-1"></div>
    </div>
    <div style="margin:30px;border:1px solid black;border-radius:5px;"></div>
</div>

    <div class = "row" >
        <div class = "col-md-1" > </div >
        <div class = "col-md-10" >
            <hr >
            <h3 class = "text-center" style = "color:white;background-color: black;padding:10px;border-radius: 5px;"> Choose the category you like </h3>
            <br >
            <br >
            <br >
            <div class = "row" >
                <div class = "col-md-6" >
                    <button
                        style = "color:white;background-color: black;margin-bottom:10px;width:100%;text-align: center" >
                        ⚙ General </button>
                    <div class = "row card">
                    <div class = 'container-fluid text-center'>
                        {% for pitch in pitches %}
                        {% if pitch.category == 'General' %}
                        <div class = "co">
                            <a href = "/pitches/{{pitch.id}}">{{pitch.category}}</a>
                            {% endif %}
                            <p class = "card-body">{{pitch.text}}</p>
                            <small class = "card-footer">Posted on {{pitch.posted_at}}</small>
                            <a href="/pitches/{{pitch.id}}">Go to Pitch</a>
                            <hr>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class = "col-md-6">
                    <button
                        style = "color:white;background-color: black;margin-bottom:10px;width:100%;text-align: center">
                        ⚙ Educative </button>
                    <div class = "row card">
                    <div class = "container-fluid text-center">
                        {% for pitch in pitches %}
                        {% if pitch.category == 'Educative' %}
                        <div class = "co">
                            <a href = "/pitches/{{pitch.id}}">{{pitch.category}}</a>
                            {% endif %}
                            <p class = "card-body"> {{pitch.text}} </p>
                            <small class = "card-footer"> Posted on{{pitch.posted_at}}</small>
                            <a href="/pitches/{{pitch.id}}">Go to Pitch</a>
                            <hr>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

                <div class = "col-md-6">
                    <button
                        style = "color:white;background-color: black;margin-bottom:10px;width:100%;text-align: center" >
                        ⚙ Religion </button>
                    <div class = "row card">
                    <div class = "container-fluid text-center">
                        {% for pitch in pitches %}
                        {% if pitch.category == 'Religion' %}
                        <div class = "co">
                          <a href = "/pitches/{{pitch.id}}">{{pitch.category}} </a>
                        </div >
                        {% endif %}
                        <p class = "card-body"> {{pitch.text}} </p>
                        <small class = "card-footer" > Posted on {{pitch.posted_at}} </h6>
                          <a href="/pitches/{{pitch.id}}">Go to Pitch</a>
                        <hr>
                        {% endfor %}
                    </div>
                </div>


    </div>





{% endblock %}
