{% extends 'base.html'%} 
{% block content %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Tangerine&display=swap" rel="stylesheet">

<div class="container-fluid" class="welcome-page">


    <div class="container">
        <div class="row">
            <div class="col-md-12" id="karibu">
                <h1>Welcome</h1>
                <h2>One Minute Pitch</h2>
                
                <a id="start" class="btn btn-danger animated infinite flash" href="{{url_for('auth.login')}}">Sign In</a>
                
            </div>
        </div>
    </div>
   
</div>
{% endblock %}








